{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
DETALLE PROYECTO
{% endblock title %}
{% block content %}
<section class="section" id="about">
  {% bootstrap_messages %}
    <!-- Gallery Start -->
    <div class="container-fluid ">
      <div class="container" style="max-width:1440px">
        <div class="text-center pb-2">
          <h1 class="mb-4" style="font-weight: bolt;">{{blog_object.titulo}}</h1>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4 portfolio-item first">
            <div class="position-relative overflow-hidden mb-2" style="width: 690px; height: 440px; max-width: 100%;">
              <iframe class="w-100 parent" id="parent"  src="{{blog_object.imagen}}" style="border-radius: 20px; max-width: 100%; height: 100%;"></iframe>
              <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4 portfolio-item second" style="padding-right: 50px;">
            <div class="position-relative overflow-hidden mb-2">
              <p align="right">{{blog_object.autor}} | {{blog_object.fecha}}</p>
              <br>
              <div class="portfolio-btn d-flex justify-content-center" style=" white-space:  pre-wrap; word-wrap: break-word; line-height: 0.5;">
                <div style="text-align:justify">
                  <p >{{blog_object.detalle_principal|linebreaks}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 portfolio-item second" style="padding-right: 50px; white-space: pre-wrap; line-height: 0.5;">
              <div style="text-align:justify" >
                <p >{{blog_object.detalle|linebreaks}}</p>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 mb-4 portfolio-item first">
            <div class="position-relative overflow-hidden mb-2">
              <iframe class="w-100 parent" id="parent"  src="{{blog_object.imagen_2}}" style="height:350px; border-radius: 20px;"></iframe>
              <div
                class="portfolio-btn bg-dark d-flex align-items-center justify-content-center"
              >
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4 portfolio-item ">
            <h5 style="padding: 10px; font-weight: bold;" class="text-center">Deja tu comentario </h5>
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <input id="pk_blog_object" name="pk_blog_object" type="hidden" value="{{blog_object.pk}}">
                <div class="col-md-6"> {% bootstrap_field respuesta_form.nombre layout="inline" %}</div>
                <div class="col-md-6"> {% bootstrap_field respuesta_form.email layout="inline" %}</div>
              </div>
              <div class="row">
                <div class="col-md-12"> {% bootstrap_field respuesta_form.comentario layout="inline" %}</div>
              </div>
              <div class="col-md-12" style="text-align: center; vertical-align: middle;display: inline-block; padding: 10px;">
                <button class="btn btn-success text-center" type="submit">Guardar</button>
              </div>
            </form>
          </div>
          <div class="col-md-12 mb-4 portfolio-item ">
            <h5 style="padding: 10px; font-weight: bold;" class="text-center">Comentarios</h5>
            {% for comentario in respuestas %}
            <div style="background-color: #343a40; border-radius: 20px; margin: 5px;">
              <p style="color: white; padding: 10px;">{{comentario.comentario}}. Att: {{comentario.nombre}}</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery End -->
        </section>
        <div class="text-center pb-2">
          <h1 class="mb-4">Otros Blogs</h1>
        </div>
        <!-- ***** Menu Area Starts ***** -->
        <section class="section" id="menu">
            <div class="menu-item-carousel">
                    <!-- <div class="owl-menu-item owl-carousel" style="width:1500px; margin-right:10px"> -->
                    <div class="owl-menu-item owl-carousel" style="width: 2550px;">
                      {% for item in blogs %}
                      <div class="item">
                        <a href="{% url 'home:blog'  item.pk %}">
                          <div class="position-relative overflow-hidden" onmouseout="CambiaNegro(this)"  onmouseover="CambiaColor(this)">
                            <iframe class="w-100 parent" id="parent"  src="{{item.imagen}}" style="height:350px; border-top-left-radius: 20px; border-top-right-radius: 20px;"></iframe>
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                              <p class="text-white" style="font-size: 40px; padding-top: 10px; padding-bottom: 10px;">{{item.titulo}}
                              </p>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% endfor %}
                      </div>
                    </div>
            <div class="text-center" style="margin:30px">
              <img src="{% static 'images/logo_blanco.png' %}">
            </div>
        </section>

    {% endblock content %}
{% block scripts %}
{{block.super}}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
  function CambiaColor(element){
    $element = element.parentElement
    let parent = $element.querySelector(`img[id="parent"]`);
    parent.style = 'height:350px; border-top-left-radius: 20px; border-top-right-radius: 20px; filter: grayscale(0%);'
  }
  function CambiaNegro(element){
    $element = element.parentElement
    let parent = $element.querySelector(`img[id="parent"]`);
    parent.style = 'height:350px; border-top-left-radius: 20px; border-top-right-radius: 20px; filter: grayscale(100%);'
  }
</script>
{% endblock scripts %}
