{% extends 'base.html' %}
{% load static %}
{% block title %}
BLOG
{% endblock title %}
{% block content %}
    <!-- **** * About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container" style="max-width:1440px">
          <div class="text-center pb-2">
            <h3 class="mb-4">Que la lectura sea un hábito que fomentemos a diario</h3>
          </div>
          <div class="row">
          {% for blog in blogs %}
          <div class="col-md-4" >
            <a href="{% url 'home:blog' blog.pk %}">
            <div class="item"style="margin:5px">
              <div class='card' style="background: url({{blog.imagen.url}}); min-height:300px">
                <div class='info'>
                  <h1 class='title' >{{blog.titulo}}</h1>
                </div>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
        </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->
    {% endblock content %}
{% block scripts %}
{{block.super}}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}
