{% extends 'base.html' %}
{% load static %}
{% block title %}
DETALLE PROYECTO
{% endblock title %}
{% block content %}
<section class="section" id="about">
    <!-- Gallery Start -->
    <div class="container-fluid ">
      <div class="container">
        <div class="text-center pb-2">
          <h1 class="mb-4">{{proecto.nombre}}</h1>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-6 col-md-6 mb-4 portfolio-item first">
            <div class="position-relative overflow-hidden mb-2">
              <img class="w-100 parent" id="parent"  src="{{proyecto.imagen.url}}" alt="" style="height:350px; border-radius: 20px;"/>
              <div
                class="portfolio-btn bg-dark d-flex align-items-center justify-content-center"
              >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4 portfolio-item second">
            <div class="position-relative overflow-hidden mb-2">
              <div class="portfolio-btn d-flex">
                <h3>Descripción del proyecto</h3>
              </div>
              <br>
              <div class="portfolio-btn d-flex justify-content-center">
                <p style="text-align:justify">{{proyecto.descripcion}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 mb-4 portfolio-item third">
            <div class="position-relative overflow-hidden mb-2" onmouseout="CambiaNegro(this)"  onmouseover="CambiaColor(this)">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">DATOS DEL PROYECTO</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="col"><b>Link del proyecto: </b>  <a href="{{proyecto.link}}">{{proyecto.link}}</a></td>
                  </tr>
                  <tr>
                    <td scope="col"><b>Empresa: </b>  {{proyecto.empresa}}</td>
                  </tr>
                  <tr>
                    <td scope="col"><b>Rol desempeñado: </b>  {{proyecto.rol_realizado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery End -->
        </section>
        <div class="text-center pb-2">
          <h1 class="mb-4">Otros Proyectos</h1>
        </div>
        <!-- ***** Menu Area Starts ***** -->
        <section class="section" id="menu">
            <div class="menu-item-carousel">
                    <!-- <div class="owl-menu-item owl-carousel" style="width:1500px; margin-right:10px"> -->
                    <div class="owl-menu-item owl-carousel" style="width: 2550px;">
                      {% for proyect in proyectos %}
                      <div class="item">
                        <a href="{% url 'home:proyecto_detail' proyect.pk %}">
                          <div class="position-relative overflow-hidden mb-2">
                            <img class="w-100 parent" id="parent"  src="{{proyect.imagen.url}}" alt="" style="height:350px; border-top-left-radius: 20px; border-top-right-radius: 20px;"/>
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                              <a href="{% url 'home:proyecto_detail' proyect.pk %}" class="text-white" style="font-size: 40px">{{proyect.nombre}}
                                <p class="text-white">{{proyect.rol_realizado}}</p>
                              </a>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% endfor %}
                      </div>
                    </div>
            <div class="text-center" style="margin:30px">
              <img src="{% static 'images/logo_blanco.png' %}">
            </div>
        </section>
    {% endblock content %}
{% block scripts %}
{{block.super}}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
  function CambiaColor(element){
    $element = element.parentElement
    let parent = $element.querySelector(`img[id="parent"]`);
    parent.style = 'height:350px; border-radius: 20px; filter: grayscale(0%);'
  }
  function CambiaNegro(element){
    $element = element.parentElement
    let parent = $element.querySelector(`img[id="parent"]`);
    parent.style = 'height:350px; border-radius: 20px; filter: grayscale(100%);'
  }
</script>
{% endblock scripts %}
