{% extends 'base.html' %}
{% load static %}
{% block title %}
PROYECTOS
{% endblock title %}
{% block content %}
<section class="section" id="about">
    <!-- Gallery Start -->
    <div class="container-fluid ">
      <div class="container" style="max-width:1440px">

        <div class="row center" style="justify-content: center;">
          <div class="col-md-8 col-xs-12 text-center mb-2"  style="background-color:#000000; border-radius:20px">
            <ul class="list-inline" id="portfolio-flters" style="margin-top: 10px; margin-bottom: 10px;">
              <li class="btn btn-outline-dark m-1 active" data-filter="*" style="color:#fff; border:0px">
                Todos
              </li>
              <li class="btn btn-outline-dark m-1" data-filter=".first" style="color:#fff; border:0px">
                Software
              </li>
              <li class="btn btn-outline-dark m-1" data-filter=".second" style="color:#fff; border:0px">
                Diseño
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center pb-2">
          <h1 class="mb-4">Portafolio</h1>
        </div>
        <div class="row portfolio-container">
          {% for proyecto in proyectos %}
            {% if proyecto.tipo_proyecto == 'S' %}
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
            {% elif proyecto.tipo_proyecto == 'D' %}
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
              {% else %}
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item third"></div>
            {% endif %}
              <a href="{% url 'home:proyecto_detail' proyecto.pk %}" >
                <div class="position-relative overflow-hidden mb-2">
                  <iframe class="w-100 parent" id="parent"  src="{{proyecto.imagen}}" width="300" height="300" style="border-top-left-radius: 20px; border-top-right-radius: 20px;"></iframe>
                  <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center text-center" style="margin-top: -10px;">
                    <h5 class="text-white" style="font-size: 40px">{{proyecto.nombre}}  
                    <p class="text-white">{{proyecto.rol_realizado}}</p>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Gallery End -->

    </section>
    {% endblock content %}
{% block scripts %}
{{block.super}}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
  function CambiaColor(element){
    $element = element.parentElement
    let parent = $element.querySelector(`img[id="parent"]`);
    parent.style = 'height:250px; border-top-left-radius: 20px; border-top-right-radius: 20px; filter: grayscale(0%)';
  }
  function CambiaNegro(element){
    $element = element.parentElement
    let parent = $element.querySelector(`img[id="parent"]`);
    parent.style = 'height:250px; border-top-left-radius: 20px; border-top-right-radius: 20px; filter: grayscale(100%)';
  }
</script>
{% endblock scripts %}
