<!-- ***** Footer Start ***** -->
{% load static %}
<footer>
    <div class="container" style="max-width:1440px">
        <div class="row">
          <div class="col-md-3 col-xs-3" style="width: 50%; margin-top: 5px;margin-bottom: 5px; display: flex; justify-content: center; align-items: center;">
            <a href="index.html"><img src="{% static 'images/logo_blanco_vertical.png' %}" alt="" style="max-width: 100px;"></a>
          </div>
          <div class="col-md-3 col-xs-3" style="width: 50%; margin-top: 5px;margin-bottom: 5px;">
            <p  style="color:#fff"><b>MENÚ PRINCIPAL</b></p>
            <a href="{% url 'home:index' %}" style="color:#fff">INICIO </a><br>
            <a href="{% url 'home:proyectos' %}" style="color:#fff">PROYECTOS</a><br>
            <a href="{% url 'home:index' %}" style="color:#fff">BLOG</a><br>
          </div>
          <div class="col-md-3 col-xs-3" style="width: 50%; margin-top: 5px;margin-bottom: 5px;">
            <p  style="color:#fff"><b>REDES SOCIALES</b></p>
            <ul class="social-icons">
                <li style="color:#fff"><a target="_blank" href="https://www.facebook.com/jolrobless"><i class="fa fa-facebook"></i></a> Facebook</li>
            </ul>
            <ul class="social-icons">
              <li style="color:#fff"><a target="_blank" href="https://www.linkedin.com/in/jolrobles/"><i class="fa fa-linkedin"></i></a> Linkedin</li>
            </ul>
            <ul class="social-icons">
              <li style="color:#fff"><a target="_blank" href="https://www.instagram.com/jolrobles/"><i class="fa fa-instagram"></i></a> Instagram</li>
            </ul>
          </div>
            <div class="col-md-3 col-xs-3" style="width: 50%; margin-top: 5px;margin-bottom: 5px;">
                <p style="color:#fff"><b>CONTACTO</b></p>
                <ul class="social-icons">
                  <li style="color:#fff"><a target="_blank" href="https://wa.me/593981538762/?"><i class="fa fa-whatsapp"></i></a> 0981538762</li>
                </ul>
                <ul class="social-icons">
                  <li style="color:#fff"><a target="_blank" href="https://wa.me/593981538762/?"><i class="fa fa-envelope"></i></a> jolrobles5@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
