{% extends 'base.html' %}
{% load static %}
{% block title %}
INICIO
{% endblock title %}
{% block content %}

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container" style="max-width:1440px">
            <div class="row">
              {% for item in quien_soy %}
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div style="display: flex; justify-content: center; align-items: center;">
                  <img  style="border-radius:50%; max-width: 300px;" class="parent" id="parent" src="{% static 'images/perfil.jpg' %}" alt="">
                </div>
                <div>
                  <p class="text-center" style="line-height:15px; margin:5px"> El éxito llega para todos aquellos que <br>estan ocupados buscándolo</p>
                </div>
              </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                  <div class="left-text-content">
                    
                      <div class="section-heading">
                          <h2>{{item.titulo}}</h2>
                      </div>
                      <p style="text-align:justify" >{{item.descripcion|linebreaks}}</p>
                  </div>
                </div>
                    
              {% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->
    <div class="text-center" style="margin:20px">
      <h2>SECCIONES</h2>
    </div>
    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="menu">
      <div class="content">
        <div class="row">
          
          <div class="col-md-3" style="padding-top: 10px;">
            <a href="{% url 'home:podcast' %}">
              <div class='card card2'>
                <div class='info'>
                  <h1 class='title'>PODCAST</h1>
                  <p class='description'>ENTREVISTAS<br>HISTORIAS <br>APRENDIZAJES <br>VIDA COTIDIANA<br>SUPERACIÖN</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3" style="padding-top: 10px;">
            <a href="{% url 'home:proyectos' %}">
              <div class='card card1'>
                <div class='info'>
                  <h1 class='title'>DESARROLLO</h1>
                  <p class='description'>Python - Django <br>JavaScript - Flutter <br>NodeJs - Angular <br>Git - Html - Css <br>SO: Windows - Linux</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3" style="padding-top: 10px;">
            <a href="{% url 'home:proyectos' %}">
              <div class='card card3'>
                <div class='info'>
                  <h1 class='title'>DISEÑO</h1>
                  <p class='description'>PHOTOSHOP<br>ILUSTRADOR<br>PREMIER<br>AUDITION<br>MARCAS</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3" style="padding-top: 10px;">
            <a href="{% url 'home:list_blog' %}">
              <div class='card card4'>
                <div class='info'>
                  <h1 class='title'>BLOGS</h1>
                  <p class='description'>EXPERIENCIAS<br>CONOCIMIENTOS<br>FAMILIA<br>PERSAMIENTOS<br>SUEÑOS</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>


        <div class="text-center" style="margin:30px; margin-block-end:0px">
          <img src="{% static 'images/logo_blanco.png' %}">
        </div>
    </section>
    <!-- ***** Menu Area Ends ***** -->

    <div class="text-center" style="margin-top:80px">
        <h1>Que tus talentos sean para servir a los demás</h1>
    </div>
{% endblock content %}
{% block scripts %}
{{block.super}}
<script type="text/javascript">
  let parent = document.getElementById('parent');
  console.log(parent);
  parent.addEventListener('mouseover', function() {
    parent.style = 'border-radius:50%;  filter: grayscale(0%);  max-width: 300px;';
  })
  parent.addEventListener('mouseout', function() {
    parent.style = 'border-radius:50%;  filter: grayscale(100%);  max-width: 300px;';
  })
</script>
<script type="text/javascript">
  function CambiaColor(element){
    console.log(element);
    $element = element.parentElement
    console.log($element);
    let parent = $element.querySelector(`div[id="parent"]`);
  }
  function CambiaNegro(element){
    $element = element.parentElement
    let parent = $element.querySelector(`div[id="parent"]`);
  }
</script>
{% endblock scripts %}
